body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #22242a;
    width: 100%;
    height: 30px;
    padding: 20px;
    position: fixed;
}

.area-esquerda h3 {
    color: #fff;
    margin: 0px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-sair {
    color: #fff;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    background-color: #19b3d3;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    transition: 0.4s;
    transition-delay: 0.5;
}

.btn-sair:hover {
    background-color: #0D9DBB;
    padding: 15px 15px;
    font-size: 18px;
}
nav {
    background-color: #2f323a;
    width: 250px;
    height: 100%;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
}
.perfil{        
    text-align: center;
}
.perfil img{
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}
.perfil h4{
    color:#fff;
    margin-top: 0px;
    margin-bottom: 20px;
}
nav a{
    transition:1.0s;
    display:block;
    text-decoration: none;
    color: white;
    padding: 10px;
    line-height: 40px;
    box-sizing: border-box;
}
nav i{
    margin-right: 10px;
}
nav a:hover{
    transition: 0.5s;
    background-color: #e092e0;
}
.conteudo{
    background-color: black;
    background-image: url("wp12238912-ai-4k-wallpapers.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#chkMenu{
    display:none;
}
#btnMenu{
    cursor:pointer;
    color:#ffff;
    font-size: 20px;
    position: fixed;
    top:23px;
    left:250px;
}

#chkMenu:checked~nav{
    transition-delay: 0.8s;
    left: -190px;
}
#chkMenu:checked~nav a{
    margin-left:200px;
    font-size: 22px;
}
#chkMenu:checked~nav span{
    display:none;
    transition-delay: 1.0s;
}
#chkMenu:checked~nav a span{
    transition-delay: 0.8s;
}