*{
    padding:0;
    margin:0;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.header{
    background-color: rgb(68, 0, 0);
    width: auto;
    height: 60px;
}
.left-corner{
    background-color: rgba(0, 139, 74, 0.493);
    width: 800px;
    height: 500px;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.left-corner-img{
    margin-top: 5%;
    margin-left: 25%;
    width: 50vh;
    height: 50vh;
    background-image:url(../img/flaticonstudying.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.right-corner{
    width: 800px;
    background-color: rgb(1, 1, 103);
}
.both-corners{
    display:flex;
}



.left-corner1{
    position: relative;
    width: 100px;
    height: 800px;
    background-color: rgb(0, 99, 18);
}
.headerText{
    color:rgb(48, 0, 0);
}
.lista-left{
    align-items: center;
    text-align: center;
    list-style: none;
}
.lista-left li{
    font-size: 20px;
    padding: 20px;
    display:flex;
}
.right-corner{
    display:grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
.right-grid-item{
    background-color: wheat;
    width: 300px;
    height: 800px;
}